.contact-text-buttons {
    font-family: league-reg;
    font-size: 1vw;
    color: #ffeaea;
    background-color: #b86c6b;
    padding: 0.3vw 0.5vw;
    border-radius: 0.5vw;
    text-decoration: none;
}

.contact-text-buttons:hover {
    background-color: #7735B2;
    transition: 0.5s;
}

#ewanhuhu {
    text-align: center;
    padding-top: 1vw;
}


#flex-container {
    display: flex;
    justify-content: center;
}

.errors {
    max-width: 17vw;
    font-family: dogicapixel;
    font-size: 0.5vw;
    color: red;
    padding-top: 1vw;
    padding-bottom: 1vw;
    line-height: 1.3;
}

#outer-success-plz {
    display: flex;
    justify-content: center;
    margin-top: 2.5vw;
}

#success-container {
    width: 20vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    font-family: dogicapixel;
    font-size: 1.2vw;
    color: white;
}

#success-container img {
    width: 20vw;
    height: auto;
    border-radius: 1vw;
}

#form-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 1vw;
    background-color: #fdd8d7;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border-radius: 15px;
}

.form-titles {
    display: block;
    font-family: dogicapixel;
    font-size: 0.7vw;
    color: #592e7e;
    line-height: 1.5;
}

#form-form input[type="text"], #form-form textarea {
    width: 17vw;
    height: 2vw;
    font-size: 0.7vw;
    font-family: dogicapixel;
    color: #0004ff;
    border-radius: 10px;
    padding: 0.1vw;
    line-height: 1.5;
    background-color: #fff1f1;
}

#form-form textarea {
    height: 5vw;
}

.form-gender {
    font-family: dogicapixel;
    font-size: 0.7vw;
    color: #8f51c5;
    padding-left: 0.5vw;
}

#form-form input[type="radio"] {
    width: 1vw;
    margin-left: 1vw;
}

#form-form input[type="submit"] {
    font-family: dogicapixel;
    font-size: 0.6vw;
    padding: 0.7vw;
    color: #521b81;
    background-color: #f0dfff;
    border-radius: 15px;
    text-align: center;
}

h2 {
    font-family: dogicapixel;
    font-size: 1vw;
    color: #521b81;
}