
div#home-content {
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    position: relative;
}
div#welcome-win {
    position: relative;
    padding-right: 12vw;
    padding-bottom: 2vh;
}
img#welcome-win {
    width: 53vw;
    height: auto;
}
div#chat-win {
    position: absolute;
    margin-left: 45vw;
    bottom: 0;
}
img#chat-win {
    width: 20vw;
    height: auto;
}
div#look {
    position: absolute;
    margin-left: 9.5vw;
    margin-top: 19vw;
    top: 0;
    font-family: league-bold;
    font-size: 1vw;
    color: #360060;
}
div#quote {
    position: absolute;
    margin-left: 10.6vw;
    margin-top: 22vw;
    top: 0;
    font-family: league-reg;
    font-size: 1vw;
    color: #360060;
    overflow: hidden;
}
div#chat-title {
    position: absolute;
    top: 0;
    margin-top: 3vw;
    margin-left: 3.2vw;
    font-family: dogicapixel;
    font-size: .6vw;
    z-index: 5;
}
img.chat-icon {
    display: inline-block;
    max-width: 2.5vw;
    max-height: 2.5vw;
}
p.chats {
    font-family: dogicapixel;
    font-size: 0.55vw;
    color: #360060;
    display: inline-block;
    background-color: #FFCAEA;
    padding: 0.5vw;
    border-radius: 10px;
}
div.hidden {
    visibility: hidden;
}
div#chat1 {
    position: absolute;
    display: flex;
    top: 0;
    gap: 0.8vw;
    padding-top: 4.8vw;
    padding-left: 1.5vw;
    line-height: 1.3;
    opacity: 0;
    animation: fade-in .001s forwards;
    animation-delay: 2s;
    z-index: 3;
}
div#chat2 {
    position: absolute;
    display: flex;
    top: 0;
    gap: 0.8vw;
    padding-top: 7.45vw;
    padding-left: 4.8vw;
    line-height: 1.3;
    z-index: 2;
}
div#chat3 {
    position: absolute;
    display: flex;
    top: 0;
    gap: 0.8vw;
    padding-top: 10.7vw;
    padding-left: 4.8vw;
    line-height: 1.3;
    z-index: 1;
}
div#chat4 {
    position: absolute;
    display: flex;
    top: 0;
    gap: 0.8vw;
    padding-top: 15.4vw;
    padding-left: 4.8vw;
    line-height: 1.3;
    z-index: 0;
}
div#click-to-continue {
    position: absolute;
    top: 0;
    margin-top: 19vw;
    margin-left: 9vw;
    font-family: dogicapixel;
    font-size: .5vw;
    color: #b36de8;
    opacity: 0;
    animation: blink 1.5s linear infinite;
    animation-direction: alternate;
    animation-delay: 2.5s;
}
